# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Flutter/Dart build and tool folders (across the workspace)
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/
**/coverage/

# OS/System files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Local/Secret files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log

# Mobile Specific ignores (Android/iOS)
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/ios/Flutter/.last_build_id
